.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mes{
    flex: 0 0 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.balance{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance__tipo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.transacciones > legend{
    text-align: center;
}

.transacciones fieldset{
    width: 100%;
}

.transacciones__contenedor{
    display: flex;
    justify-content: center;
}

.transacciones__contenedor fieldset:last-child{
    display: none;
}

.transacciones__pagina{
    text-align: end;
}

.transaccion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaccion > h3,
.transaccion > p
.transaccion > h4{
    flex: 0 0 calc(25% - 3vw);
}

.pagina{
    display: none;
}

.botones__pagina{
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 1vw 0;
}

/***LOG IN***/

main{
    height: 100vh;
}

.formulario,
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard{
    flex-direction: column;
    height: auto;
}

.dashboard fieldset{
    width: 100%;
}

.formulario__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 4rem 2rem;
}

.formulario__titulo{
    text-align: center;
}

.formulario__titulo h2,
.formulario__titulo h4{
    margin: 1rem 0;
}

.formulario__campos{
    width: 50%;
}

.formulario__campo{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.formulario__campo input{
    border-style: solid;
}

.formulario__boton{
    text-align: center;
}

.estadisticas{
    display: flex;
    justify-content: space-around;
}

.datos{
    display: flex;
    justify-content: space-between;
}

.datos__info{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.datos__info h4{
    flex: 0 0 30%;
}

.datos__info input{
    width: 50%;
}

.datos__modificar{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.datos__titulo{
    flex: 0 0 30%;
}

.modificar__formulario{
    display: none;
}

.categorias{
    display: flex;
    flex-direction: column;
}

.categoria__botones{
    text-align: end;
}

.categorias__campo{
    display: none;
}

.categorias__lista,
.categorias__campo{
    order: 1;
}

.categorias__edit{
    order: 2;
}

.categorias__lista,
.categorias__edit,
.categorias__campo{
    text-align: center;
    margin: 2vh 0;
}